#title{
    text-align: center;
    font-family: "DIN Next",sans-serif;
    font-weight: 900;
    font-style: normal;
    text-transform: Uppercase;
    letter-spacing: 0.5em;
}

#text{
    max-width: 500px;
    margin: auto;
    text-align: justify;
    padding-top: 50px;
    font-family: "FF Meta Serif",serif;
    color: #000;
    font-weight: 300;
    font-size: 1.125rem;
}

.rte{
    border: none;
    font-family: "Fjalla One",sans-serif;
    text-transform: Uppercase;
    font-weight: 700;
    font-size: 1.75rem;
    color: #d02120;
    font-style: normal;
    padding: 0;
    margin: 50px 0;
}
/*Used for nothingness page
*/
.f--title {
    font-family: "Fjalla One",sans-serif;
    text-transform: Uppercase;
    font-weight: 400;
    letter-spacing: 0.20em;
}


.fade-in {
	-webkit-animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    border-radius: 5px;
}

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
